.context-menu {
  position: absolute;
  background: rgba(35, 35, 35, 0.9);
  z-index: 999;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 35px 0 12px;
  width: 190px;

  li {
    cursor: pointer;
    padding: 7px 23px;

    &:hover {
      background-color: $primary;
    }
  }

  .icon {
    position: absolute;
    top: 8px;
    padding: 0 4px;
    right: 8px;
  }
}
