.select {
  cursor: pointer;
  display: flex;
  align-items: center;

  option {
    background: rgba($black, 0.8);
    color: $white;
  }

  &__field {
    appearance: none;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.89px;
    cursor: pointer;
    padding-right: 20px;
  }

  .icon {
    position: absolute;
    right: 0;
    top: 17px;
    color: $primary;
    pointer-events: none;
  }
}
