@import './icons';
@import './header';

.main {
  @include container;
  background-color: $black;
  padding: 0 0 43px;
  
  &__navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #424242;
    box-shadow: 0 2px 0 #080707;
    margin-bottom: 25px;
    position: relative;
    align-items: center;
  }
}

.page {
  padding-bottom: $footer-height;
}
