// Colors
$primary: #f65261;
$rating: #a1e66f;

$black: #232323;
$grey1: #424242;
$grey2: #555;
$grey3: #888;
$white: #fff;


// Size
$desktop-width: 1080px;
$tablet-width: 960px;
$footer-height: 70px;
