// Colors

$primary: #f65261;
$rating: #a1e66f;

$black: #232323;
$grey1: #424242;
$grey2: #555;
$white: #eee;


// Size
$desktop-width: 1024px;
$tablet-width: 960px;
$footer-height: 60px;
